.container {
    position: relative;
    width: 750px;
    height: 291px;
    overflow: hidden;
}        
.wrap {
    position: absolute;
    width:4500px;
    height: 291px;
    z-index: 1;
    left:-1000px;
}
.container .wrap img {
    float: left;
    width: 750px;
    height: 291px;
}
.container .buttons {
    position: absolute;
    right: 15px;
    bottom:10px;
    z-index: 2;    text-align: center;
    
}
.container .buttons span {
    display: inline-block;
    width: 20px;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    border-radius: 20px;
    background: #000;
    color: #fff;
}
.container .buttons span.on{
    background-color: #c40000;
}
.container .arrow {
    display: none;
    position: absolute;
    font-family: iconfont-chaoshi;
    display: none;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 25px;
    color: #fff;
    background: #000;
    text-decoration: none;
    opacity: .3;
    filter: alpha(opacity=30);
    top: 50%;
    margin-top: -25px;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    z-index: 2;
}
.container .arrow_left {
    padding: 0 9px 0 7px;
    left: 5px;
    cursor: pointer;
}
.container .arrow_right {
    padding: 0 7px 0 9px;
    right: 5px;
    cursor: pointer;
}
.container:hover .arrow {
    display: block;
}